.ui.bottom.attached.segment.active.tab.tab-add-prd{
    /* width: 70%; */
}

.ui.top.left.pointing.dropdown.select-status .divider.text{
    background-color: #8f9792;
    border-radius: 3px;
    width: 40%;
    color: white;
    text-align: center;
    margin-bottom: 1rem;;
}
