.custom-modal .ui.form{
    width: 40%;
    
}

.price-prodct{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.ui.medium.image.image-modal{
    width: 200px;
}

.description.name-desc{
   text-align: center;
}








